streamlit==1.10.0
underthesea
numpy==1.22.4
pandas==1.4.2
matplotlib
seaborn
scikit-learn
pandas-profiling
wordcloud
#speech_recognition
SpeechRecognition
plotly
nltk
gtts
playsound==1.2.2
pyaudio